* {
  font-family: Playfair Display;
}

body {
  background-color: #f0eadc;
  display: flex;
  margin: 0;
}

/* HEADER  */

header {
  display: flex;
  align-items: center;
  width: 100%;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 67px;
  padding-right: 33px;
}

#brands {
  margin-top: 0;
  position: sticky;
  z-index: 4;
}

#about-us {
  margin-top: 0;
  width: 120px;
  position: absolute;
  z-index: 4;
}

#sehlvet {
  color: #2f2f2f;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-right: 265px;
  margin-left: 102px;

  width: 120px;
}

#bookmark {
  margin-left: 600px;
}

/* BODY 1 */

#Elevate {
  color: #2f2f2f;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 112px;

  padding: 151px 316px 0px 100px;

  width: 939px;
  height: 224px;

  display: flex;

  position: absolute;
}

h5 {
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #2f2f2f;

  margin: 522px 0px 99px 102px;

  position: absolute;
}

#main-button {
  width: 222px;
  height: 60px;
  border-radius: 16px;
  background: #754f23;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-left: 102px;
  border-style: none;
  display: flex;

  position: absolute;

  margin: 696px 0px 99px 102px;
}

#main-button p {
  padding: 12px 36px 16px 31px;
  margin: 0;
}

#main-button img {
  padding: 24px 31px 22px 0px;
  width: 34px;
  height: 14px;
}

#mulher-de-jaqueta {
  width: 670px;
  height: 953px;

  position: absolute;
  z-index: 2;
  margin-left: 800px;
}

#div1 {
  width: 455px;
  height: 680px;
  border-radius: 250px 250px 0px 0px;
  border: 1px solid #754f23;
  background: #754f23;

  position: absolute;
  z-index: 1;

  margin-top: 273px;
  margin-left: 990px;
}

#div2 {
  width: 455px;
  height: 680px;
  transform: rotate(-8.401deg);
  border-radius: 250px 250px 0px 0px;
  border: 2px solid #754f23;

  position: absolute;
  z-index: 0;

  margin-top: 273px;
  margin-left: 960px;
}

/* BODY 2 */

#trending {
  margin-top: 902px;
  padding-right: 920px;
  position: absolute;
  margin-left: 103px;
}

#have {
  margin-top: 1024px;
  padding-right: 920px;
  position: absolute;
  margin-left: 103px;
}

#formal {
  margin: 1191px 920px 0px 118.86px;
  position: absolute;
  padding: 23px 23px 10px 16.86px;
  border-radius: 16px;
  border: 1px solid #754f23;
}

#formal h2 {
  margin-top: 20px;
}

#formal p {
  margin-bottom: 19px;
}

#group17 {
  margin-left: 130px;
}

#group29 {
  margin-left: 37px;
}

#black {
  margin: 1063px 920px 0px 498px;
  position: absolute;
  padding: 23px 23px 0px 16.86px;
  border-radius: 16px;
  border: 1px solid #754f23;
}

.prices {
  display: flex;
}

#group17-2 {
  margin-left: 180px;
}

#group29-2 {
  margin-left: 37px;
}

#car {
  margin-left: 10px;
}

#yellow {
  margin: 1116px 920px 0px 1000px;
  position: absolute;
  padding: 23px 23px 0px 16.86px;
  border-radius: 16px;
  border: 1px solid #754f23;
}

#group17-3 {
  margin-left: 90px;
}

#group29-3 {
  margin-left: 27px;
}

#view {
  margin: 1646px 120px 0px 1098px;
  position: absolute;
  border-style: none;
  width: 222px;
  height: 60px;
  border-radius: 16px;
  color: #754f23;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  background-color: #f0eadc;
  border: 1px solid #754f23;
  align-items: center;
  justify-content: space-between;
  padding: 13px 38px 15px 23px;
}

/* BODY 3 */

#summer {
  position: absolute;
  margin: 1848px 0px 0px 100px;
}

#consider {
  position: absolute;
  margin: 1920px 0px 0px 102px;
}

#rec14 {
  position: absolute;
  margin: 2064px 0px 0px 162px;
}

#main-aim {
  position: absolute;
  margin: 2627px 0px 0px 120px;
}

#provide {
  position: absolute;
  margin: 2044px 0px 0px 840px;
}

#rec13 {
  position: absolute;
  margin: 2155px 0px 0px 840px;
}

#rec15 {
  position: absolute;
  margin: 2418px 0px 0px 728px;
}

#explore1 {
  width: 222px;
  height: 60px;
  position: absolute;
  margin: 2702px 0px 0px 1095px;
  border-style: none;
  background-color: #f0eadc;
  border: 1px solid #754f23;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 38px;
}

#explore1 p {
  color: #754f23;
  font-size: 24px;
  font-weight: 400;
}

/* BODY 4 */

#winter {
  position: absolute;
  margin: 2893px 0px 0px 981px;
}

#consider1 {
  position: absolute;
  margin: 2961px 0px 0px 821px;
}

#provide {
  position: absolute;
  margin: 3059px 0px 0px 111px;
}

#rec18 {
  position: absolute;
  margin: 3211px 0px 0px 378px;
}

#rec20 {
  position: absolute;
  margin: 3331px 0px 0px 122px;
}

#serve {
  position: absolute;
  margin: 3376px 0px 0px 752px;
}

#explore2 {
  width: 222px;
  height: 60px;
  position: absolute;
  margin: 3260px 0px 0px 1095px;
  border-style: none;
  background-color: #f0eadc;
  border: 1px solid #754f23;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 38px;
}

#explore2 p {
  color: #754f23;
  font-size: 24px;
  font-weight: 400;
}

/* BODY FINAL */

#what {
  position: absolute;
  margin: 3749px 0px 0px 810px;
}

#value1 {
  position: absolute;
  margin: 3827px 0px 0px 670px;
}

#rec23 {
  position: absolute;
  margin: 3902px 0px 0px 122px;
}

#group {
  position: absolute;
  margin: 3948px 0px 0px 448px;
}

#ladiesvibe {
  position: absolute;
  margin: 4047px 0px 0px 446px;
}

#jane {
  position: absolute;
  margin: 4171px 0px 0px 446px;
}

#fashion1 {
  position: absolute;
  margin: 4210px 0px 0px 446px;
}

#mini-left {
  position: absolute;
  margin: 4190px 0px 0px 999px;
  width: 60px;
  height: 60px;
  border-style: none;
  background-color: #f0eadc;
  border: 1px solid #754f23;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mini-right {
  position: absolute;
  margin: 4190px 0px 0px 1087px;
  width: 60px;
  height: 60px;
  border-style: none;
  background-color: #f0eadc;
  border: 1px solid #754f23;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  position: absolute;
  margin-top: 4410px;
  width: 100%;
  height: 184px;
  display: flex;
  background-color: #754f23;
  padding: 59px 0px 0px 0px;
  align-items: center;
  justify-content: space-around;
}

footer h5 {
  margin: 0;
}

footer h2 {
  margin: 0;
}

#links1 {
  height: 243px;
  box-sizing: border-box;
}

#links1 h5 {
  display: block;
}

#links1 a {
  padding-top: 20px;
}

#buttons {
  height: 243px;
}

#buttons a {
  display: block;
  padding-bottom: 13px;
  text-decoration: none;

  color: #ddd9d6;
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 500;
}

#information {
  height: 243px;
  justify-content: space-between;
}

#information h4{
  margin: 0;
  
}




